body{
    color: white;
    background-color: #0e586e;
    font-family: Arial, Helvetica, sans-serif;
} 

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

nav a{
    color: white;
    padding: 12px; 
    text-decoration: none; 
}

nav a:hover{
    color:#89e4ff;
    border: 2px solid #89e4ff;
    padding: 10px;
    border-radius: 15px;
}

.container{
    padding: 0px 50px
}

.center{
    text-align: center;
}

header h1{
    color: #89e4ff;
}